./EERI418/Digital Control System_PhilipsNagle_OCR.pdf
./EERI418/Efundi dump/homework/Chapter1_Phillips.pdf
./EERI418/Efundi dump/Notes/Starred_transform_notes.pdf
./EERI418/Modern Control Systems.pdf
./EERI418/Phillips - Instructors manual  - Digital control system analysis and design 3rd ed.pdf
./REII414/Database Systems - Design, Implementation, and Management (9th Edition).pdf
*.swp
*.swo
